<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">



    <application
        android:name="com.example.mytask.MyApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_foreground"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@drawable/ic_launcher_foreground"
        android:supportsRtl="false"
        android:theme="@style/Theme.Mahly_app_android">
        <activity
            android:name="com.example.mytask.MainActivity"
            android:exported="true"
            android:label="MyTask"
            android:theme="@style/Theme.Mahly_app_android.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>